h1{
    color:  red;
    font-family: Arial;
}
.texto{
    color:red;
    margin: 15px;
    padding: 10px;
}

ul{
    margin: 15px;
    padding: 10px;
}


body{
    background-color:cornsilk;
    font-family: Verdana;
}